* {
  -webkit-tap-highlight-color: transparent;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  background: black;
}

html {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
